{% extends 'base.html.twig' %}

{% block title %}Edit Artist{% endblock %}

{% block body %}
    <h1>Edit an Artist</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Save</button>
    {{ form_end(form) }}
    <a href="{{ path('app_artist') }}">Back to Artist list</a>
{% endblock %}
